:root {
    --blue-color: rgb(23, 120, 206);
    --dark-blue-color: rgb(12, 85, 148);
}

body {
    background-color: black;
    color: white;
}

nav {
    background-color: gray;
    padding: 0.5rem 5vw;
}

nav h1 {
    font-size: 2rem;
    font-weight: bold;
}

main {
    width: 80vw;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

button {
    background-color: var(--blue-color);
    border: none;
    color: white;
    cursor: pointer;
    transition: all 200ms;

}

button:hover, .your_tables_item:hover {
    background-color: var(--dark-blue-color);
}

button:active {
    transform: scale(1.05);
}

.your_tables_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 20px 0;
    /* background-color: red; */
}

.your_tables_list {
    display: flex;
    gap: 0.4rem;
}

.your_tables_item {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.6rem;
    margin: 0.5rem;
    background-color: var(--blue-color);
    transition: all 200ms;
}

#nt_form {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.nt_name_input_wrapper {
    background-color: rgb(51, 51, 51);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#new_table_name_input {
    width: 10rem;
    
}

.nt_columns {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.nt_column {
    display: flex;
    gap: 1rem;
    background-color: rgb(51, 51, 51);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.nt_column span {
    font-weight: bold;
}

#nt_new_column_button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.3rem;
    font-weight: bolder;
    border-radius: 999999px;
    padding: 5px 10px;
    cursor: pointer;
    width: fit-content;
}

#nt_new_column_button span {
    font-size: 1rem;
}

.remove_new_column {
    background-color: red;
    border-radius: 99999px;
    transition: all 200ms;
}

.remove_new_column:hover {
    background-color: rgb(218, 0, 0);
}

#new_table_button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin: 0 auto;
    width: fit-content;
}