{{define "table_view"}}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/table_view.css">
        <title>Pantsbase 👖</title>
    </head>

    <body>
        <nav>
            <h1><a href="/">Welcome to Pantsbase</a> </h1>
        </nav>

        <main>
            <section class="new_row">
                <h2>New Row</h2>
                <form action="new_row" method="POST" class="new_row_form" id="new_row_form">
                    <div class="new_row_fields">
                        {{if .Schema}}
                        {{range .Schema}}
                        {{ if eq .Type "INTEGER"}}
                        <fieldset class="int_input">
                            <label for="{{.Id}}">🔟 "{{.ColName}}" (INT)</label>
                            <input type="number" name="{{.Id}}" id="{{.Id}}" pattern="\d*" placeholder="1023" required>
                        </fieldset>
                        {{else if eq .Type "REAL"}}
                        <fieldset class="real_input">
                            <label for="{{.Id}}">🔢 "{{.ColName}}" (REAL)</label>
                            <input type="number" name="{{.Id}}" id="{{.Id}}" placeholder="9.621" required>
                        </fieldset>
                        {{else}}
                        <fieldset class="text_input">
                            <label for="{{.Id}}">💬 "{{.ColName}}" (TEXT)</label>
                            <textarea name="{{.Id}}" id="{{.Id}}" cols="30" rows="10" placeholder="write something..." required></textarea>
                        </fieldset>
                        {{end}}
                        {{end}}
                        {{else}}
                        <span>no rows other than id</span>
                        {{end}}
                        <input type="hidden" name="new_row_ids" id="new_row_ids" value="{{.HiddenInputIds}}">
                        <input type="hidden" name="table_name" id="table_name" value="{{.TableName}}">
                    </div>
                </form>

                {{if .Schema}}
                <button type="submit" id="submit_new_row" form="new_row_form">Confirm</button>
                {{else}}
                <button id="submit_new_row">Empty table 😵</button>
                {{end}}

            </section>
            <section class="query">
                <h2>Query</h2>
                <div>
                    Nothing here yet
                </div>
            </section>
        </main>
    </body>
    <script>
        const newRowForm = document.querySelector("#new_row_form")
        newRowForm.addEventListener("submit", (e) => {
            console.log(e)
        })
    </script>

</html>
{{end}}